// Layer Definitions out toggle
#ifdef REVIUNG41
#define DEFAULT 0
#define SYMBOLS 1
#define NUMBERS 2
#define ADJUST 3
#define NAVI 4
#define GAMING 5
#define MSFS 6
#endif

#ifdef ROLLOW
#define COLEMAK 0
#define QWERTY  1
#define GAMING  2
#define SYMBOL  3
#define NUMBER  4
#define NAVI    5
#define FUNC    6
#define ADJUST  7
#endif

//Basic Key Aliases
#define ___________ &trans
#define _____x_____ &none
#define ________ &trans
#define XXXXXXXX &none

//Layer Taps
#define NAV_TAB &lt     NAVI    TAB
#define NUM_BSP &lt     NUMBER  BSPC
#define NAV_BSP &lt     NAVI    BSPC
#define NUM_TAB &lt     NUMBER  TAB
#define FUN_Z   &lt		FUNC    Z
#define FUN_X   &lt		FUNC    X
#define AD_FSLH &lt		ADJUST  FSLH
#define ENTER_SYMBOL &lt SYMBOL ENTER
#define NAV_SQT &lt NAVI SQT

//To Layer
#ifdef ROLLOW
#define TO_DEFAULT &to COLEMAK
#define TO_GAMING &to GAMING
#define TO_QWERTY &to QWERTY
#define TO_SYMBOL &to SYMBOL
#define TO_NUMBER &to NUMBER
#define TO_NAV &to NAVI
#define TO_ADJUST &to ADJUST
#define TO_FUNC &to FUNC
#endif

//GACS Home Row Mods QWERTY
#define LGUI_A  &td LGUI    A
#define LALT_S  &td LALT    S
#define LCTRL_D &td LCTRL   D
#define LSHFT_F &td LSHFT   F

#define RSHFT_J &td RSHFT   J
#define RCTRL_K &td RCTRL   K
#define RALT_L  &td RALT    L
#define RGUI_QT &td RGUI    SQT

//GACS Home Row Mods WORKMAN
#define LGUI_A  &td LGUI    A
#define LGUI_T  &td LGUI    T
#define LALT_S  &td LALT    S
#define LCTRL_H &td LCTRL   H
#define LSHFT_T &td LSHFT   T

#define RSHFT_N &td RSHFT   N
#define RCTRL_E &td RCTRL   E
#define RALT_O  &td RALT    O
#define RGUI_I	&td RGUI    I

//GACS Home Row Mods WORKMAN
#define LGUI_A  &td LGUI    A
#define LALT_R  &td LALT    R
#define LCTRL_S &td LCTRL   S
#define LSHFT_T &td LSHFT   T

#define RSHFT_N &td RSHFT   N
#define RCTRL_E &td RCTRL   E
#define RALT_I  &td RALT    I
#define RGUI_O	&td RGUI    O

//Shortcuts
#define S_UNDO  &kp LC(Z)
#define S_CUT   &kp LC(X)
#define S_COPY  &kp LC(C)
#define S_PASTE &kp LC(V)
#define S_REDO  &kp LC(Y)

// Terminal copy/paste
#define T_COPY  LC(LS(C))
#define T_PASTE LC(LS(V))

#define CLSETAB &kp LC(W)
#define NEXTTAB &kp LC(TAB)
#define PREVTAB &kp LC(LS(TAB))

//Bluetooth
#define BTClear &bt BT_CLR
#define BT0     &bt BT_SEL 0
#define BT1     &bt BT_SEL 1
#define BT2     &bt BT_SEL 2
#define BT3     &bt BT_SEL 3
#define BT4     &bt BT_SEL 4

//Behavior Configuration
#define TAPPING_TERM 300
#define TAPPING_TERM_GUIALT 330
#define TAPPING_TERM_PINKY 350
