// Layer Definitions out toggle
#define QWERTY  0
#define COLEMAK 5
#define NUMBER  1
#define NAVI    2
#define FUNC    3
#define ADJUST  4

//Basic Key Aliases
#define ___________     &trans
#define _____x_____     &none

//Layer Taps
#define NAV_TAB &lt     NAVI    TAB
#define NUM_BSP &lt     NUMBER  BSPC
#define FUN_Z   &lt_pky FUNC    Z
#define AD_FSLH &lt_pky ADJUST  FSLH

//To Layer
#define DEFAULT &to     QWERTY
#define COLMKDH &to     COLEMAK

//GACS Home Row Mods QWERTY
#define LGUI_A  &hm_gui LGUI    A
#define LALT_S  &hm_alt LALT    S
#define LCTRL_D &hm_ctl LCTRL   D
#define LSHFT_F &hm_sft LSHFT   F

#define RSHFT_J &hm_sft RSHFT   J
#define RCTRL_K &hm_ctl RCTRL   K
#define RALT_L  &hm_alt RALT    L
#define RGUI_QT &hm_gui RGUI    SQT

//GACS Home Row Mods COLEMAKDH
#define LGUI_A  &hm_gui LGUI    A
#define LALT_R  &hm_alt LALT    R
#define LCTRL_S &hm_ctl LCTRL   S
#define LSHFT_T &hm_sft LSHFT   T

#define RSHFT_N &hm_sft RSHFT   N
#define RCTRL_E &hm_ctl RCTRL   E
#define RALT_I  &hm_alt RALT    I
#define RGUI_O	&hm_gui RGUI    O


//Shortcuts
#define S_UNDO  &kp LC(Z)
#define S_CUT   &kp LC(X)
#define S_COPY  &kp LC(C)
#define S_PASTE &kp LC(V)
#define S_REDO  &kp LC(Y)

//Bluetooth
#define BTClear &bt BT_CLR
#define BT0     &bt BT_SEL 0
#define BT1     &bt BT_SEL 1
#define BT2     &bt BT_SEL 2
#define BT3     &bt BT_SEL 3
#define BT4     &bt BT_SEL 4

//Behavior Configuration
#define TAPPING_TERM 200
#define TAPPING_TERM_GUIALT 230
#define TAPPING_TERM_PINKY 250